In [24]:
import pandas as pd
import numpy as np

In [2]:
col_names = ['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',' speed', ' lon_acc', ' lat_acc', ' time']

In [25]:
df = pd.read_csv("../data/20181029_d1_0800_0830.csv", sep="[,;:]", index_col=False, on_bad_lines='skip')

/tmp/ipykernel_31140/3679563474.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../data/20181029_d1_0800_0830.csv", sep="[,;:]", index_col=False, on_bad_lines='skip')
/tmp/ipykernel_31140/3679563474.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv("../data/20181029_d1_0800_0830.csv", sep="[,;:]", index_col=False, on_bad_lines='skip')

In [26]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')>

In [ ]:
df.dropna()

In [27]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,25.59,5.549289,37.977353,23.737695,0.0000,0.0000,0.0000,0.0
1,2,Car,103.37,18.985780,37.978027,23.737237,19.5936,-0.0688,-0.8172,0.0
2,3,Motorcycle,130.36,32.589339,37.978110,23.737129,0.0053,0.0083,0.0000,0.0
3,4,Motorcycle,160.70,26.537342,37.978128,23.737149,0.0022,0.0031,-0.0000,0.0
4,5,Car,164.14,26.379138,37.978152,23.737110,0.0015,0.0024,-0.0000,0.0

In [28]:
df.shape

(761, 10)

In [29]:
df.to_csv('../data/objects.csv', index=False)

In [30]:
df2 = pd.read_csv('../data/objects.csv')

In [31]:
df2.tail()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
756,757,Car,57.09,29.358675,37.980713,23.734982,29.2432,-0.0731,-0.0043,758.0
757,758,Car,47.69,26.012926,37.980720,23.734926,26.1715,0.0000,0.0000,758.4
758,759,Medium Vehicle,42.37,29.335799,37.978296,23.735320,30.6186,0.0266,-0.2295,759.8
759,760,Taxi,26.09,27.626198,37.978293,23.735308,29.5630,0.0226,-0.0522,761.6
760,761,Car,5.64,25.387158,37.978300,23.735303,26.7233,-0.0000,0.0000,764.2